<% provide(:title, "Home") %>
<div class="center jumbotron">
  <%= flash[:success] %>
  <h1>Welcome to Flapper</h1>

  <h2>
    A MicroBlogging Site
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>