<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <%= link_to image_tag("flappybird.png", alt: "Rails logo", width: "4%", style:"padding-top:12px;float:left"), '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><h3 style="color:white"> &nbsp Flapper</h3></li>
          </ul>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>